<style>
  h1 {
    color: red;
  }

</style>

<h1>Welcome <%= @user.email %></h1>

<p>
  Hello, we hope you enjoy the site!
</p>

<p>
<a href="airbnb-adamjosephkalimi.herokuapp.com">Click Here to Check it out!</a>
</p>

