<div class="banner" style="background-image: linear-gradient(-225deg, rgba(100,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://images.singletracks.com/blog/wp-content/uploads/2016/05/Paradise_Island_header.jpeg'); ">
  <div class="banner-content">
    <h1>GearZ n Shit</h1>
    <h3> Rent or Lend out some outrageously awesome gear! </h3>
  </div>
</div>
