<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://www.google.com.hk/search?q=bike+ski+windsurf&dcr=0&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjKxoSg_M7XAhUEebwKHXqcCKUQ_AUICigB&biw=1417&bih=700&dpr=2#imgrc=99aSC34yL0o1pM:'); ">
  <div class="banner-content">
    <h1>GearZ n Shit</h1>
    <h3></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas ab et autem quis, labore ipsam in. Nihil optio qui cupiditate aperiam velit sunt sapiente obcaecati dicta distinctio, eius recusandae deleniti!</p>
  </div>
</div>
